<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Procesar</servlet-name>
        <servlet-class>controlador.contrImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controperso</servlet-name>
        <servlet-class>controlador.controperso_res</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contrDoc</servlet-name>
        <servlet-class>controlador.contrDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controImg2</servlet-name>
        <servlet-class>controlador.controImg2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contrInc</servlet-name>
        <servlet-class>controlador.contrInc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contrEst</servlet-name>
        <servlet-class>controlador.contrEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controInc</servlet-name>
        <servlet-class>controlador.contrInc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contrDat</servlet-name>
        <servlet-class>controlador.contrDat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contrDate</servlet-name>
        <servlet-class>controlador.contrDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contregistro</servlet-name>
        <servlet-class>controlador.contregistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conteliminar</servlet-name>
        <servlet-class>controlador.conteliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contmodificar</servlet-name>
        <servlet-class>controlador.contmodificar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Procesar</servlet-name>
        <url-pattern>/procesar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contrDoc</servlet-name>
        <url-pattern>/controladordoc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controImg2</servlet-name>
        <url-pattern>/controImg2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contrInc</servlet-name>
        <url-pattern>/contrInc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contrEst</servlet-name>
        <url-pattern>/controladorest.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controInc</servlet-name>
        <url-pattern>/controInc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contrDat</servlet-name>
        <url-pattern>/contrDat.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contrDate</servlet-name>
        <url-pattern>/controladordate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contregistro</servlet-name>
        <url-pattern>/contregistro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conteliminar</servlet-name>
        <url-pattern>/conteliminar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contmodificar</servlet-name>
        <url-pattern>/contmodificar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controperso</servlet-name>
        <url-pattern>/Controperso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
